<header class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <img src="/books-stack-of-three-svgrepo-com.svg" alt="Library Logo" class="navbar-logo" />
      <a routerLink="/" class="nav-link">Library Management System</a>
    </div>

    @if (isLoggedIn()) {
    <nav class="navbar-menu logged-in">
      @if (isAdmin()) {
      <a routerLink="/borrowed-books" class="nav-link">Borrow Requests</a>
      <a routerLink="/members" class="nav-link">Members</a>
      <a routerLink="/admin/books" class="nav-link">Manage Books</a>
      }
      <a routerLink="/me" class="nav-link">{{ userName() }}</a>
      <button (click)="logOut()" class="nav-link logout-btn">Logout</button>
    </nav>
    } @else {
    <nav class="navbar-menu">
      <a routerLink="/login" class="nav-link">login</a>
      <a routerLink="/signup" class="nav-link">Register</a>
    </nav>
    }
  </div>
</header>
